{{!-- <h1>{{user.username}}</h1>
    <h4>{{user.firstName}} {{user.lastName}}</h4>
    <h4>{{user.email}}</h4>
    <h4>{{user.phoneNumber}}</h4> --}}

    <h1>{{shelter.shelterName}}</h1>

    <h4>{{shelter.addressNumber}} {{shelter.streetName}} </h4>
    <h4>{{shelter.city}},{{shelter.state}} </h4>
    <h4>{{}}</h4>




{{!-- const shelterSchema = new Schema({
    shelterName: String,
    addressNumber: Number,
    streetName: String, 
    state: String,
    city: String,  
    children: [Array]
}) --}}