
{{!-- <h1>Show HBS</h1> --}}
    

     

<img src="{{shelter.shelterImage}}" alt="poop">

    <h2>{{shelter.shelterName}}</h2>

    <h4>{{shelter.streetName}} </h4>
    
    <h3>{{shelter.city}}, {{shelter.state}} </h3>


  
    

<a href="/shelters/{{shelter._id}}/edit"><button type="submit">Edit {{shelter.shelterName}} </button></a>


<form action="/shelters/{{shelter.id}}?_method=DELETE" method="POST">

    <button type="submit">
        Delete {{shelter.shelterName}} 
    </button>

</form>



<a href="/shelters"><button type="submit">Back to All Shelters</button></a>

<a href="/shelters/children"><button type="submit">Children</button></a>

